BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BreakBeforeBraces: Attach
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
